@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --size: 0;
}

.gradient-track::before {
  pointer-events: none;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  /*background: radial-gradient(circle closest-side, red, transparent 50%);*/
  background: radial-gradient(
    circle closest-side,
    rgba(220, 220, 220, 0.05),
    transparent 80%
  );
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
  z-index: -1;
}

main:hover {
  --size: 800px;
}
